<footer class="page-footer font-sm bg pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h6 class="text-white "></h6>
            </div>
            <div class="col-md-12 d-flex justify-content-center">
                <a href="https://www.github.com/daniellynuness/" target="_blank"
                class="icoGithub">
                <i class="fa fa-github" aria-hidden="true"></i>
            </a>
            </div>
            <div class="col-md-12 d-flex justify-content-center">
                <span class="text-light">© 2022 Copyright by Danielly</span>
            </div>
        </div>
    </div>
    <div class="footer-copyright bg-dark text-center py-1">
        <h6 class="text-white pt-2">Creditos da imagem do perfil: <a href='https://.pngtree.com/so/Ilustração'>Ilustração png de .pngtree.com/</a></h6>
        
    </div>
</footer>