#img-bg{
    background-image: url('https://i.pinimg.com/originals/f1/c2/91/f1c29137436738055d6a8003343cf88c.jpg');
    min-height: 625px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
