<div class="container-fluid">
    <div class="row d-flex align-items-center">
        <div class="col-md-6  mb-3">
            <div class="row d-flex justify-content-center">
                <div class="col-md-10">
                    <h1 class="text-center pb-3">Cadastro</h1>
                    <div class="form-row">
                        <div class="col">
                          <label for="nome">Nome</label>
                          <input [(ngModel)]='user.nome' type="text" class="form-control" id="nome" placeholder="Primeiro e segundo nome">
                        </div>
                        <div class="col">
                          <label for="usuario">Usuário</label>
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <div class="input-group-text">@</div>
                            </div>
                            <input [(ngModel)]='user.usuario' type="text" class="form-control" id="usuario" placeholder="E-mail">
                          </div>
                        </div>
                    </div>

                    <div class="form-group pt-2">
                        <label for="foto">Link da foto</label>
                        <input [(ngModel)]='user.foto' class="form-control" type="text" name="foto" id="foto" placeholder="Link da sua foto">
                    </div>

                    <div class="form-row pt-2">
                        <div class="col">
                            <label for="senha">Senha</label>
                          <input (input)='confirmSenha($event)' type="password" class="form-control" name="senha" id="senha" placeholder="Minimo 8 caracteres">
                        </div>
                        <div class="col">
                            <label for="confirmSenha">Confirmar senha</label>
                          <input [(ngModel)]='user.senha' type="password" class="form-control" name="confirmSenha" id="confirmSenha" placeholder="Confirmar senha">
                        </div>
                      </div>

                      <div class="form-group pt-2">
                        <label for="tipo">Tipo de usuário</label>
                        <select class="form-control" name="tipo" id="tipo" (change)='tipoUser($event)'>
                            <option>Selecione um tipo de usuário:</option>
                            <option value="normal">Normal</option>
                            <option value="adm">Administrador</option>
                        </select>
                    </div>

                    <div class="d-flex justify-content-center pt-2">
                        <button type="submit" class="btn btn-danger mr-4" routerLink="/entrar">Cancelar</button>
                        <button type="submit" class="btn btn-dark" (click)='cadastrar()'>Cadastrar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6" id="img-bg"></div>
    </div>
</div>
