#img-bg{
    background-image: url('https://i.pinimg.com/originals/89/de/2b/89de2b297f46af7b1b0d41ff166e839e.png');
    min-height: 625px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}