#img-bg{
    background-image: url('https://static1.patasdacasa.com.br/articles/7/18/77/@/8819-gato-deitado-em-cima-do-notebook-pode-se-articles_media_mobile-1.jpg');
    min-height: 625px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}